{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERROR{% endblock %}</title>
    <!--Favicon Nora-->
    <link rel="icon" type="image/x-icon" href="{% static 'icons/LooneyPizza.ico' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_html/styles.css' %}">
</head>
<body>
    <main class="d-flex justify-content-center align-items-center flex-column vh-100">
        <div class="card neon-red-on bounce-in-top">
            
            <div class="card-header shadow-inset-left-bottom bg-danger-dark border-bottom border-danger">
                <h2 class="text-light">¡Ups, Se quemó la pizza!</h2>
            </div>

            <div class="card-body card-hf-shadow">
                <p class="text-light">Hubo un error al procesar tu solicitud:</p>
                {% if error_message %}
                    <div class="alert alert-danger">
                        <p><strong>Error:</strong> {{ error_message }}</p>
                    </div>
                {% endif %} 
            </div>

            <div class="card-footer bg-danger-dark shadow-inset-left-bottom d-flex justify-content-between border-top border-danger">

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-oroz shadow-inset-left-bottom">
                        Cerrar sesion<i class="bi bi-box-arrow-in-left ms-2"></i>
                    </button>
                </form>

                <a class="btn btn-primary btn-oroz d-flex align-items-center shadow-inset-left-bottom" href="{% url 'barra' %}">
                    Ir a la Barra<i class="bi bi-display ms-2"></i>
                </a>
            </div>

        </div>
    </main>
</body>
</html>
