__pycache__/
migrations/
*.pyc
db.sqlite3
.venv
auto_start/
.env
node_modules/
**/node_modules/
static/*
!static

!static/bootstrap/
!static/datatables/
!static/bootstrap/
!static/fonts/
!static/icons/
!static/css/
!static/js/
!static/img/
!static/favicon.ico
!static/favicon.png