__pycache__/
migrations/
*.pyc
db.sqlite3
.venv
auto_start/
.env
node_modules/
static/*
!static

!static/bootstrap/
!static/datatables/
!static/css/
!static/js/
!static/default_images/
!static/favicon.ico
!static/favicon.png
Pendientes.txt