{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}N O R A{% endblock %}</title>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="{% static 'icons/LooneyPizza.ico' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/local.css' %}">
    {% block extra_css %}{% endblock %}
    <!--JS-->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'datatables/js/datatables.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lottie-web/build/player/lottie.js' %}" type="text/javascript"></script>
</head>
<body> 
    <header>
        {% include "components/header/msg_receptor_component.html" %}
        {% block extra_header %}{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <aside class="py-3 px-2">
        {% include "components/sidebar/navbar_navigation_component.html" %}
    </aside>
   
    <script type="module" src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
