{% extends "base.html" %}

{% load static %}

{% block title %}Agregar Base{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bases/styles.css' %}">
{% endblock %}

{% block content %}
    <section class="bases-container d-flex flex-column gap-2 justify-content-center align-items-center p-2">
        {% if not existe_base %}
            <div class="card card-shadow border border-warning border-opacity-50">

                {% include "components/cards/header/title_and_tooltip.html" with add_title="Agregar Base" tooltip_description="Ingrese el monto de la base para iniciar el día. Este monto se sumará a las ventas del día y se restará al momento de realizar el arqueo de caja." %}
            
                <div class="card-body rounded rounded-top-0 p-3 card-body-shadow border-top-0">
                    <form method="post">
                        {% csrf_token %}
                        <div class="bases-form-content">

                            <fieldset class="rounded filter border border-0 p-1">
                                <label class="form-label m-0 d-flex flex-row" 
                                for="valor_base">
                                    <p>Monto<p class="text-danger">*</p></p>
                                </label>
                                <div class="input-group active-border-group" id="group_monto">
                                    <span class="input-group-text px-1 bg-black border border-dark">
                                        <i class="bi bi-currency-dollar text-success"></i>
                                    </span>
                                    <input class="valor form-control border-0"
                                    id="valor_base" 
                                    name="base_dia"
                                    placeholder="Digitar valor" 
                                    type="number" 
                                    autocomplete="off"
                                    inputmode="numeric" 
                                    required 
                                    >
                                </div>
                            </fieldset>

                            <fieldset class="rounded filter p-1">
                                <label class="form-label m-0" for="observacion_base">Observacion: </label>
                                <div class="input-group active-border-group">
                                    <span class="input-group-text px-1 bg-black border border-dark">
                                        <i class="bi bi-pen text-success"></i>
                                    </span>
                                    <textarea class="form-control border-0 input-not-focus" 
                                    id="observacion_base" name="base_observacion"> </textarea>
                                </div>
                            </fieldset>

                            <fieldset class="d-flex justify-content-center align-items-center">
                                <button class="btn-save btn btn-success border save-btn shadow-inset-left-bottom hover-lift clicker-btn rounded-circle" type="button" 
                                {% if existe_base %} disabled {% endif %}
                                data-msj_create="Guardar base por el monto de: $">
                                    Iniciar <i class="bi bi-arrow-right ms-1 mt-1"></i>
                                </button>
                            </fieldset>
                        </div>
                    </form>
                </div>
                
            </div>
        {% else %}
            <div class="card card-shadow jello-horizontal border border-warning border-opacity-50">

                <div class="card-header warning-msj px-3 py-1 border-bottom border-warning border-opacity-50 d-flex justify-content-between shadow-inset-left-bottom">
                    <i class="bi bi-exclamation-diamond"></i>
                    IMPORTANTE
                    <i class="bi bi-exclamation-diamond"></i>
                </div>

                <div class="card-body shadow-inset-left-bottom rounded rounded-top-0 d-flex flex-column gap-2">
                    El monto de la base ya fué registrado para el dia de hoy.
                    <a class="btn btn-success shadow-inset-left-bottom btn-oroz hover-lift" href="{% url 'barra' %}">
                        Ir a la barra principal 
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                </div>
                
         </div>
        {% endif %}
    </section>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/bases/main.js' %}"></script>
{% endblock %}
