{% extends "base.html" %}
{% block title %}Editar Base{% endblock %}
{% block content %}

    <main class="d-flex flex-column gap-3 justify-content-center align-items-center h-100 p-2 ps-0" 
    id="page" data-page="bases" data-key_create="enable">

        <!--Panel Edit Base-->
        <section class="card bg-secondary shadow-inset-left-bottom">
            <div class="card-header px-3 py-2 d-flex justify-content-between">
                    <h3 class="fw-bold m-0">Editar Base</h3>
                    <button class="btn btn-sm btn-warning shadow-inset-left-bottom hover-lift clicker-btn" id="backButton">
                        <i class="bi bi-arrow-90deg-left me-1"></i> Volver
                    </button>
            </div>

            <div class="card-body px-3 py-2">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-1">

                        <fieldset class="rounded filter p-2">
                            <label class="form-label m-0 w-100" for="valor_base">Monto :</label>
                            <div class="input-group active-border-group">
                                <span class="input-group-text px-1 bg-dark-light border border-dark">
                                    <i class="bi bi-currency-dollar"></i>
                                </span>
                                <input placeholder="Digitar valor" id="valor_base" 
                                class="valor form-control border-0" autocomplete="off" required type="number" name="base_dia" value="{{ base.base_dia }}">
                            </div>
                        </fieldset>

                        <fieldset class="rounded filter p-2">
                            <label class="form-label m-0 w-100" for="observacion_base">Observacion</label>
                            <div class="input-group active-border-group">
                                <span class="input-group-text px-1 bg-dark-light border border-dark">
                                    <i class="bi bi-pen"></i>
                                </span>
                                <textarea class="form-control border-0 input-not-focus" 
                                id="observacion_base" name="base_observacion" required>{{ base.base_observacion }}</textarea>
                            </div>
                        </fieldset>

                        <fieldset class="d-flex justify-content-between gap-2">
                            <a class="btn btn-danger border shadow-inset-left-bottom hover-lift clicker-btn" 
                            href="{% url 'gestionar_bases' %}">
                                <i class="bi bi-x-circle me-1"></i>Cancelar
                            </a>
                            <button class="btn btn-success border save-btn shadow-inset-left-bottom hover-lift clicker-btn" type="button"
                            data-msj_create="Actualizar el monto de la base: ${{ base.base_dia }} en: $">
                                <i class="bi bi-save2 me-1"></i>Guardar
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>

        <!--Panel Alertas--> 
        <section class="card text-center fw-bold jello-horizontal shadow-inset-left-bottom">
            <div class="card-header warning-msj px-3 py-1 d-flex justify-content-between">
                <i class="bi bi-exclamation-diamond"></i>
                IMPORTANTE
                <i class="bi bi-exclamation-diamond"></i>
            </div>
            <div class="card-body">
                Agregue una observación por cada vez que actualice el monto.
            </div>
        </section>
    </main>
    
{% endblock %}
