{% extends "base.html" %}
{% load static %}

{% block title %}Editar Base{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bases/styles.css' %}">
{% endblock %}

{% block content %}
    <section class="bases-container d-flex flex-column gap-2 justify-content-center align-items-center p-2">
        <div class="card-shadow card border border-warning border-opacity-50">

            <div class="card-header bg-black card-hf-gestion px-3 py-2 d-flex gap-1 justify-content-between align-items-center border-bottom border-warning border-opacity-50">
                
                <div class="d-flex flex-row gap-1 justify-content-center align-items-center">
                    <h3 class="fw-bold text-light m-0">Actualizar Base</h3>
                    <i class="bi bi-question-circle text-info mt-1"
                    id="show_tip"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    data-bs-title="Ingrese el nuevo monto de la base y añada el motivo en observacion. Este monto se sumará a las ventas del día y se restará al momento de realizar el arqueo de caja." 
                    ></i>
                </div>
                <button class="btn btn-sm btn-warning shadow-inset-left-bottom hover-lift btn-oroz clicker-btn" id="backButton">
                    <i class="bi bi-arrow-90deg-left me-1"></i> Volver
                </button>
                
            </div>
            
            <div class="card-body rounded rounded-top-0 p-3 card-body-shadow border-top-0">
                <form method="post">
                    {% csrf_token %}
                    <div class="bases-form-content">

                        <fieldset class="rounded filter border border-0 p-1">
                            <label class="form-label m-0 d-flex flex-row" 
                            for="valor_base">
                                <p>Monto<p class="text-danger">*</p></p>
                            </label>
                            <div class="input-group active-border-group" id="group_monto">
                                <span class="input-group-text px-1 bg-black text-success border border-dark">
                                    <i class="bi bi-currency-dollar"></i>
                                </span>
                                <input class="valor form-control border-0"
                                id="valor_base" 
                                value="{{ base.base_dia }}"
                                name="base_dia"
                                placeholder="Digitar valor" 
                                type="number" 
                                autocomplete="off"
                                inputmode="numeric" 
                                required 
                                >
                            </div>
                        </fieldset>

                        <fieldset class="rounded filter p-1">
                            <label class="form-label m-0" for="observacion_base">Observacion: </label>
                            <div class="input-group active-border-group">
                                <span class="input-group-text px-1 bg-black text-success border border-dark">
                                    <i class="bi bi-pen"></i>
                                </span>
                                <textarea class="form-control border-0 input-not-focus" 
                                id="observacion_base" 
                                name="base_observacion"
                                maxlength="100"
                                >{{ base.base_observacion }}</textarea>
                            </div>
                        </fieldset>

                        <fieldset class="btns-action d-flex flex-column align-items-center justify-content-center gap-2">
                            <a class="btn-cancel btn btn-danger shadow-inset-left-bottom hover-lift" 
                            href="{% url 'gestionar_bases' %}">
                                <i class="bi bi-x-circle me-1"></i>Cancelar
                            </a>
                            <button class="btn-save btn btn-success save-btn shadow-inset-left-bottom hover-lift clicker-btn" type="button" 
                            data-msj_create="Actualizar base por el monto de: $">
                                <i class="bi bi-floppy me-1"></i>Actualizar
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
            
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/bases/main.js' %}"></script>
{% endblock %}
