{% extends "base.html" %}
{% block title %}Gestionar Base{% endblock %}
{% block content %}

<main class="border border-danger container-fluid h-100 px-0" 
id="page" data-page="Bases" data-tables="enable">

    <div class="border border-success h-100 d-flex flex-row gap-2 p-0">
        <div class ="border border-primary col-lg-3 col-md-4 col-sm-4 col-12 py-1">
            <!--Panel Filtros Bases-->
            <section class="card bg-secondary shadow-inset-left-bottom">
                <div class="card-header px-3 py-2 d-flex justify-content-between">
                    <h3 class="fw-bold m-0 text-shadows jello-horizontal flex-wrap">Bases</h3>
                    <button class="btn btn-sm btn-warning shadow-inset-left-bottom hover-lift clicker-btn" id="backButton">
                        <i class="bi bi-arrow-90deg-left me-1"></i> Volver
                    </button>
                </div>
                
                <div class="card-body py-2">
                    <form method="get" id="filtrar_registros">
                        {% csrf_token %}           
                        <h5 class="fw-bold text-shadows w-100">Buscar registros por:</h5>
                        <div class="d-flex flex-wrap w-100">

                            <div class="d-flex flex-column filter rounded p-2 w-100">
                                <fieldset>
                                    <label class="form-label m-0 w-100" for="desde">Fecha desde:</label>
                                    <div class="input-group active-border-group">
                                        <input class="form-control border-0" id="desde" type="date" name="fecha_inicio" 
                                        value="{{ request.GET.fecha_inicio }}">
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label class="form-label m-0 w-100" for="hasta">Fecha hasta:</label>
                                    <div class="input-group active-border-group">
                                        <input class="form-control border-0" id="hasta" type="date" name="fecha_fin" 
                                        value="{{ request.GET.fecha_fin }}">
                                    </div>   
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer px-3 py-2 d-flex justify-content-end">
                    <button class="btn btn-sm btn-success hover-lift shadow-inset-left-bottom clicker-btn" type="submit" form="filtrar_registros">
                        <i class="bi bi-search me-1"></i></i>Buscar
                    </button>
                </div>
            </section>
        </div>

        <div class ="border border-primary col-lg-9 col-md-8 col-sm-8 col-12 py-1 pe-3">
            <!--Panel Registros Base-->
            <section class="card bg-secondary shadow-inset-left-bottom">
                <div class="card-header px-3 py-2 d-flex justify-content-between">
                    <h5 class="fw-bold m-0 text-shadows">Registros</h5>
                    <button class="btn btn-sm btn-primary shadow-inset-left-bottom hover-lift clicker-btn" id="exportButton" disabled>
                        <i class="bi bi-file-arrow-up me-1"></i> Exportar
                    </button>
                </div>

                <div class="card-body py-2">
                    <table id="mi-tabla" class="table table-dark
                    table-hover border border-secondary table-sm">
                        <thead class="table-secondary">
                            <tr>
                                <th class="text-start border-end border-dark">#</th>
                                <th class="text-start">Monto</th>
                                <th class="text-satrt">Fecha</th>
                                <th class="text-satrt">Estado</th>
                                <th class="text-start">Observaciones</th>
                                <th class="text-start">Responsable</th>
                                <th class="text-start">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bs in bases %}
                                <tr>
                                    <td class="text-start border-end border-secondary">{{ forloop.counter }}</td>

                                    <td class="text-start format-numbers">{{ bs.base_dia }}</td>

                                    <td class="text-start"> <i class="bi bi-calendar2-check" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-title="{{ bs.creado_en }}"></i>
                                    </td>

                                    <td class="text-start">
                                        {% if bs.actualizado_en %} 
                                            <i class="bi bi-pencil-square text-warning"
                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ bs.actualizado_en }}"></i>
                                        {% else %}
                                            <i class="bi bi-check-square text-success"></i>
                                        {% endif %}
                                    </td>

                                    <td class="text-start">{{ bs.base_observacion }}</td>

                                    <td class="text-start">{{ bs.usuario.username|default:"?" }}</td>

                                    <td class="text-start">
                                        <a class="btn btn-sm btn-warning hover-lift shadow-inset-left-bottom clicker-btn" href="{% url 'editar_base' bs.id %}"
                                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Editar">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer px-3 py-2 d-flex justify-content-between">
                    <h5 class="fw-bold m-0 text-shadows">Herramientas</h5>
                    <!--TODO: Agregar panel para botones herramientas: Calculadora, manual, etc-->
                    <button class="btn btn-sm btn-light shadow-inset-left-bottom hover-lift clicker-btn" id="exportButton">
                        <i class="bi bi-book me-1"></i>Manual
                    </button>
                </div>
                
            </section>
        </div>
    </div>

</main>

{% endblock %}