{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Gestionar Bases{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bases/styles.css' %}">
{% endblock %}

{% block content %}
    <section class="bases-container h-100 d-flex flex-row">

        <!--Filtros Bases-->
        <div class="filters-panel p-3">
            <div class="card-shadow border border-warning border-opacity-50 card h-100">
                
            {% include "components\cards\header\title_and_btn_action.html" with panel_title="Bases" btn_hide=False btn_color="warning" btn_id="backButton" btn_icon="bi-arrow-90deg-left" btn_text="Volver" %}
                
                <div class="card-body card-body-shadow bg-dark">

                    <h5 class="fw-bold text-warning">Buscar registros por:</h5>

                    {% include "components/cards/body/form/filter_date.html" %}

                </div>

                {% include "components/cards/footer/only_search_btn.html" %}

            </div>
        </div>

        <!--Registros Bases-->
        <div class ="data-panel ps-0 p-3 w-100">
            <div class="card-shadow card border border-warning border-opacity-50 h-100">
                
                {% include "components\cards\header\title_and_btn_action.html" with panel_title="Registros" btn_hide=True btn_color="warning" btn_id="backButton" btn_icon="bi-arrow-90deg-left" btn_text="Volver" %}

                <div class="card-body card-body-shadow bg-dark">
                    <table class="table table-dark table-hover"
                    id="mi-tabla">

                        <thead class="table-secondary">
                            <tr>
                                {% include "components\cards\body\table\th_forloop.html" with text="#" %}

                                {% include "components\cards\body\table\th_general.html" with text="MONTO" %}

                                {% include "components\cards\body\table\th_general.html" with text="FECHA" %}

                                {% include "components\cards\body\table\th_general.html" with text="ESTADO" %}

                                {% include "components\cards\body\table\th_general.html" with text="CONCEPTO" %}

                                {% include "components\cards\body\table\th_general.html" with text="RESPONSABLE" %}

                                {% include "components\cards\body\table\th_btns_action.html" with text="ACCION" %}
                            </tr>
                        </thead>

                        <tbody class="rounded">
                            {% for bs in bases %}
                                <tr class="rounded">
                                    {% include "components/cards/body/table/td_forloop.html" %}

                                    {% include "components/cards/body/table/td_format_num.html" with data=bs.base_dia %}

                                    {% include "components/cards/body/table/td_general.html" with data=bs.creado_en %}

                                    {% include "components/cards/body/table/td_tooltip_date_edit.html" with data_edit=bs.actualizado_en %}

                                    {% include "components/cards/body/table/td_general.html" with data=bs.base_observacion %}

                                    {% include "components/cards/body/table/td_general.html" with data=bs.usuario.username|default:"?" %}

                                    <td class="text-start bg-secondary-subtle rounded-end">

                                        {% include "components/buttons/edit_row_button.html" with to_url="editar_base" data_id=bs.id %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

                <div class="card-footer card-hf-shadow bg-black border-warning border-opacity-50 border-top d-flex justify-content-between">

                    <h5 class="fw-bold m-0 text-warning">Herramientas</h5>

                    <!--TODO: Agregar botones herramientas: Calculadora, manual, etc-->

                    <div class="d-flex gap-2">
                        {% include "components/buttons/general_button.html" with btn_color="btn-light" btn_id="btn_manual" icon_class="bi-book" text_btn="Manual" %}
                    </div>
                
                </div>
                
            </div>
        </div>

    </section>
{% endblock %}