{% extends "base.html" %}
{% load static %}
{% block title %}Generar Arqueo{% endblock %}

{% block content %}
    <main class="p-3 pe-0 d-flex flex-column gap-3 align-items-center" id="page" 
    data-page="arqueos">
        <section class="card text-bg-secondary">
            <header class="card-header d-flex justify-content-between">
                <h3 class="fw-bold">Arqueos</h3>
                
                <button class="btn btn-outline-warning" id="backButton">
                    <i class="bi bi-arrow-90deg-left me-1"></i> Volver
                </button>

            </header>
            <!--Filtros y busqueda-->
            <div class="card-body">
                <form method="get" action="">
                    {% csrf_token %}
                    <h5 class="fw-bold">Generar arqueo por:</h5>
                    <div class="d-flex flex-wrap gap-2">
                        <fieldset class="d-flex flex-wrap gap-1 filter rounded p-1">
                            <fieldset>
                                <label class="form-label" for="desde">Fecha desde</label>
                                <input class="form-control" id="desde" type="date" name="fecha_inicio" 
                                value="{{ request.GET.fecha_inicio }}">
                            </fieldset>
                            <fieldset class="border-start border-secondary ps-1">
                                <label class="form-label" for="hasta">Fecha hasta</label>
                                <input class="form-control" id="hasta" type="date" name="fecha_fin" 
                                value="{{ request.GET.fecha_fin }}">
                            </fieldset>
                        </fieldset>
                        <fieldset class="d-flex align-items-end">
                            <button class="btn btn-outline-success border text-light" type="submit">
                                <i class="bi bi-play me-1"></i></i>Generar
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
        <!--Tabla Arqueo-->
        <section class="card text-bg-secondary">
            <div class="card-body" id="data-info">
                <table id="tabla-arqueo"  data-info="Visualizando Arqueo" class="table table-dark table-hover border">
                    <thead class="table-secondary">
                        <tr>
                            <th>Concepto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Total Base(s)</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_base }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Total Retiro(s)</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_retiros }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Ventas Efectivo</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_efectivo }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Ventas Nequi</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_nequi }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Ventas Daviplata</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_davip }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Total Caja</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_caja }}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Total Venta(s)</strong></td>
                            <td><input type="text" class="form-control format-numbers" value="{{ total_ventas }}" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/arqueos/main.js' %}"></script>
{% endblock %}