{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Agregar Pedido{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pedidos/styles.css' %}">
{% endblock %}

{% block content %}
    <section class="pedidos-container h-100 d-flex flex-row">

        <!--Tabla de comanda-->
        <div class="table-container p-3 h-100 w-60">
            <div class="card card-shadow border border-warning border-opacity-50 h-100">

                <div class="card-header card-hf-shadow d-flex justify-content-between align-items-center bg-black border-bottom border-warning border-opacity-50">

                    <h3 class="fw-bold m-0 flex-wrap text-warning">Pedido #{{ siguiente_numero_pedido }}</h3>
                    <!-- <h6 class="bg-success text-wrap rounded m-0 p-2">
                        <i class="bi bi-border-width"></i>
                        Mesa {{ mesa_seleccionada }}
                    </h6> -->

                </div>

                <div class="card-body card-body-shadow d-flex flex-column gap-2">

                </div>

                <div class="card-footer card-hf-shadow border-top border-warning border-0 border-opacity-50 bg-black">

                </div>

            </div>
        </div>

        <!--Seleccion de productos-->
        <div class="selection-container ps-0 p-3 h-100 w-40">
            <div class="card card-shadow border border-warning border-opacity-50 h-100">

                <div class="card-header card-hf-shadow d-flex justify-content-between bg-black border-bottom border-warning border-opacity-50">
                    
                    <h3 class="fw-bold m-0 flex-wrap text-warning"> 
                        {% if es_barra %}
                            LLevar {{ numero_barra }}
                        {% else %}
                            Mesa {{ mesa_seleccionada }}
                        {% endif %}
                        </h3>
                    <button class="btn btn-sm btn-warning btn-oroz shadow-inset-left-bottom hover-lift clicker-btn" id="backButton">
                        <i class="bi bi-arrow-90deg-left me-1"></i> Volver
                    </button>

                </div>

                <div class="card-body card-body-shadow d-flex flex-column gap-2 p-2">

                    <div class="groups-list card bg-danger-subtle border border-danger border-opacity-50">

                        <div class="card-header d-flex flex-row card-hf-shadow bg-black text-warning border-bottom border-danger border-opacity-50 p-1 ps-2">
                            <i class="bi bi-plus-lg me-1"></i>
                            <h5 class="m-0 fw-bold">Grupos</h5>
                        </div>

                        <div class="grupos-filters card-body card-body-shadow rounded-bottom p-1">
                            <div class="container">
                                <div class="row">
                                    {% for grupo in grupos %}
                                        <div class="col-4 p-1">
                                            <input class="toggle-panel-products btn-check hover-lift shadow-inset-left-bottom w-100" 
                                            name="options-outlined" 
                                            id="{{ grupo.id }}" 
                                            data-relation="{{ grupo.id }}"
                                            autocomplete="off" 
                                            type="radio"
                                           
                                            >

                                            <label class="check-grupos btn btn-outline-light w-100 px-1 text-adjust shadow-inset-left-bottom fw-bold hover-lift" 
                                            for="{{ grupo.id }}">
                                                {{ grupo.nombre_grupo }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="productos-list card bg-secondary-subtle h-100 border border-danger border-opacity-50">

                        <div class="card-header d-flex justify-content-between align-items-center card-hf-shadow bg-black text-warning border-bottom border-danger border-opacity-50 p-1 ps-2">

                            <div class="d-flex flex-row">
                                <i class="bi bi-plus-lg me-1"></i>
                                <h5 class="m-0 fw-bold">Productos</h5>
                            </div>

                            <div class="productos-filter border border-success border-opacity-50 rounded d-flex flex-column p-0">
                                <fieldset class="input-group input-group-sm active-border-group border-opacity-50">
                                    <input class="border-0 bg-secondary-subtle rounded rounded-end-0"
                                    placeholder="Buscar Productos"
                                    id="product-filter"
                                    type="text">
                                    <label class="input-group-text bg-secondary-subtle text-success border border-success border-0"
                                    for="product-filter">
                                        <i class="bi bi-search"></i>
                                    </label>
                                </fieldset>
                            </div>
                            
                        </div>

                        <!--TODO: CONFIGURAR BOTONES MAS Y MENOS PARA AGREGAR O QUITAR EL PRODUCTO DE LA TABLA-->
                        <div class="productos-container card-body card-body-shadow rounded-bottom d-flex flex-column gap-2 p-2">
                            {% for producto in productos %}
                                <div class="panel-products card border-warning border-opacity-50"
                                id="product-card card-body-shadow"
                                data-relation="{{ producto.grupo_id }}"
                                data-nombre="{{ producto.nombre_producto }}"
                                >
                                    <div class="row g-0 b">

                                        <div class="col-md-3 border-end border-warning border-opacity-50">
                                            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
                                        </div>

                                        <div class="col-md-7">
                                            <div class="d-flex flex-column p-2">
                                                <h5 class="text-wrap text-adjust fw-bold border m-0 text-warning text-3d">{{ producto.nombre_producto }}</h5>
                                            
                                                <p class="productos-description border card-text text-wrap m-0"><small>{{ producto.descripcion }}</small></p>

                                                <div class="d-flex justify-content-end border">
                                                    <span class="badge bg-success-subtle border border-success border-opacity-50 shadow-inset-left-bottom"><small class="text-3d">${{ producto.precio | intcomma }}</small></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2 border">
                                            <div class="btn-group-vertical w-100 h-100" role="group" aria-label="Vertical button group">

                                                <button type="button" class="btn btn-primary shadow-inset-left-bottom rounded-start-0">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>

                                                <button type="button" class="btn btn-danger shadow-inset-left-bottom rounded-start-0">
                                                    <i class="bi bi-dash-lg"></i>
                                                </button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="card-footer card-hf-shadow border-top border-warning border-opacity-50 bg-black">
                    <div class="d-flex flex-row">
                        <buttton class="btn btn-light shadow-inset-left-bottom">
                           <i class="bi bi-calculator"></i> Calculadora
                        </buttton>
                    </div>
                </div>

            </div>
        </div>

    </section>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js\pedidos\main.js' %}"></script>
{% endblock %}
