/** ===============================
** BARRA > STYLES.CSS
**
** Estilos exclusivos de la plantilla
** barra.html
** ================================*/

.mesas-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
}

.card-mesa{
    height: 100%;
    background-color: var(--dark-gray-blue);
    box-shadow:
    inset 4px 0 6px rgba(0, 0, 0, 0.28),
    inset 0 -4px 6px rgba(0, 0, 0, 0.32);
    transition: 
    background-color 0.15s ease,
    border 0.15s ease-in,
    transform 0.3s ease,
    box-shadow 0.4s ease-in;
    height: 100%;
    padding: 0;
    color: var(--ligth);
}

.card-mesa:hover{
    border:#ffffff 1px solid;
    background-color: var(--warning);
    box-shadow: 2px 10px 25px 5px rgba(251, 138, 0, 0.164),
    inset 4px 0 6px rgba(0, 0, 0, 0.28),
    inset 0 -4px 6px rgba(0, 0, 0, 0.32);
    transform: translateY(-3px);
}

.card-mesa:active{
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}