{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Iniciar Sesión{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/LooneyPizza.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    {% if form.errors %}
    <header>

        <div class="alert alert-warning border-2 position-fixed alert-dismissible d-flex align-content-center fade show pt-2">
            <span class="alert-text">
                {{ form.non_field_errors }}
            </span>
            <button class="btn-close"
            type="button" 
            data-bs-dismiss="alert" 
            aria-label="Close" 
            title="Cerrar"></button>
        </div>

    </header>
    {% endif %}

    <main class="row mx-0">

        <!--Form-->
        <div class="pizza-form-container col-lg-6 col-12 p-0">

            <div class="pizza-container">
             <form class="login-form" 
            method="post"
            id="login-form"
            >
               <div class="login-form-container h-100 w-100 p-2">

                    {% csrf_token %}
                    <div class="input-group border border-dark rounded active-border-group">
                        <span class="input-group-text px-0 bg-danger border-4 border-danger"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="left"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Ingrese su nombre de usuario en este campo"
                        >
                            <i class="bi bi-person-fill text-shadow"></i>
                        </span>
                        <input class="form-control border-4 border-danger" 
                        id="{{ form.username.id_for_label }}"  
                        name="{{ form.username.name }}"
                        placeholder="Nombre de usuario" 
                        autocomplete="off"
                        type="text"
                        required
                        >
                    </div>

                    <div class="input-group border border-dark rounded active-border-group border">
                        <span class="input-group-text px-0 bg-danger border-4 border-danger"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="left"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Ingrese su clave en este campo"
                        >
                            <i class="bi bi-lock-fill text-shadow"></i>
                        </span>
                        <input class="form-control  border-4 border-danger input-psw"
                        id="{{ form.password.id_for_label }}"
                        name="{{ form.password.name }}"
                        placeholder="Clave" 
                        type="password" 
                        required
                        >
                        <button class="btn btn-light shadow-inset border-4 border-danger border-start-0" 
                        id="togglePassword"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Mostrar clave"
                        type="button"
                        >
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>

                </div>
                </form> 
            </div>

        </div>

        <!--Submit-->
        <div class="submit-container col-lg-6 col-12">

            <h1 class="unselect-text">Looney Pizza</h1>

            <div class="d-flex justify-content-center p-3">
                <button class="btn btn-sm btn-submit btn-outline-light shadow-inset-left-bottom  hover-lift clicker-btn active-border-group"
                form="login-form"
                type="submit">
                    Iniciar
                    <i class="bi bi-box-arrow-in-right"></i>
                </button>
            </div>

        </div> 

    </main>

    <footer class="bg-secondary-subtle text-center">
        <em>© Looney Pizza - 2026</em>
    </footer> 
    
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="{% static 'js/main_login.js' %}"></script>

</body>
</html>